@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,200;1,400;1,600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-image: url("https://drive.google.com/uc?id=1ewUqmg4Qxbt1iWc1A67Y7bNXtgN-tAVo");
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
}

.container{
    margin-top: 3rem;
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: wheat; */
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header p{
    font-weight: 300;
    font-size: 1.25rem;
}

header span{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: gold;
}

.time-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.time-ct{
    width: 20%;
    text-align: center;
    background-color: gold;
    border-radius: 0.3rem;
    margin: 0.3rem;
}

.num{
    font-weight: 800;
    font-size: 2rem;
}

.time-ct span{
    font-size: 0.91rem;
    text-transform: lowercase;
    color: teal;
}

.time-ct:last-child .num{
    color: tomato;
}

@media (max-width:300px) {
    
    .time-container{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
    }

    .time-ct{
        width: 40%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .container{
        height: 200px;
    }

    .time-container{
        width: 80%;
        align-self: center;
    }
    .time-ct{
        width: 15%;
        margin: 0 0.5rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container{
        max-width: 800px;
    }
}